#message-input {
  width: 470px;
}

body {
  font-family: sans-serif;
  font-size: small;
}

#main_content {
  display: inline-grid;
  grid-template-columns: 130px 1fr;
  overflow:auto;
  align-items: top;
}

.bytes {
  font-family: monospace;
}

input[type=number]{
  width: 4em;
}

blockquote {
  background-color: #fff2ac;
  max-width: 600px;
  margin-inline-start: 0px;
  padding-inline-start: 10px;
}

h2,#configuration,blockquote {
  grid-column: 1 / span 2;
}

.polynomial {
  font-family: MJXZERO, MJXTEX-I;
}

.clarification {
  color: #777;
  padding-left: 10px;
}
