<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/reed_solomon.css?v=' | append: site.github.build_revision | relative_url }}">

  {% include mathjax.html %}

  <script src="{{ '/reed_solomon.js?v=' | append: site.github.build_revision | relative_url }}" defer></script>
  <script src="{{ '/reed_solomon_tests.js?v=' | append: site.github.build_revision | relative_url }}" defer></script>
  <script src="{{ '/page.js?v=' | append: site.github.build_revision | relative_url }}" defer></script>
  <script>
    window.addEventListener('load', () => { initPage(); });
  </script>
</head>

<body>
  <div class="wrapper">
    <section>
      <div id="title">
        <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <p>{{ page.description }}</p>
      </div>
      <hr>
      <div id="main_content">
        {{ content }}
      </div>
      <hr>
      <footer>
        {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}"><span>View code on GitHub</span></a>
        <br>
        {% endif %}
        More projects at <a href="https://sigh.github.io">sigh.github.io</a>
      </footer>

    </section>
  </div>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
</body>

</html>